{% if site.disqus_shortname %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_config = function () {
        this.page.url = '{{ page.url | absolute_url }}';
        this.page.identifier = '{{ page.id }}';
      };

      (function() {
        var d = document, s = d.createElement('script');
        s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
       })();
    </script>
    <noscript>Habilite o JavaScript para ver os <a href="https://disqus.com/?ref_noscript">comentários fornecidos por Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink" target="_blank"><span class="logo-disqus"></span></a>
{% endif %}
