{% capture footer %}
<div class="text-center">
	<button class="btn btn-primary" id="toTop">
		<i class="fa fa-arrow-up"></i>
	</button>
</div>

<footer class="footer">
  &copy; {{ site.time | date: '%Y' }} {{ site.title }}. Direitos reservados.
	<a class="pull-right" href="{{ site.commits_url }}">
		Website renderizado em {{ site.time | date: "%d.%m.%Y %T %z" }}
	</a>
</footer>
{% endcapture %}

{% if site.env == 'development' %}
	{{ footer }}
{% else %}
	{{ footer | normalize_whitespace }}
{% endif %}
