<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ site.title }}{% if page.title %} · {{ page.title }}{% endif %}</title>
  <meta name="author" content="{{ site.author.name }}">

  {% seo title=false %}

  <link rel="apple-touch-icon" href="{{ "/assets/img/apple-touch-icon.png" | relative_url }}">

  <link rel="icon" type="image/png" href="{{ "/assets/img/favicon.png" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}">
</head>
