<div class="panel-hero"></div>
<div id="hero">
    <div class="col-md-8 col-md-offset-2 text-center">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ 'assets/img/logo-circle.png' | relative_url }}" class="img-responsive img-circle img-thumbnail logo" alt="{{ site.title }}">
        </a>
        <h2 class="site-title">{{ site.title }}</h2>
        <hr>
        <p>{{ site.description }}</p>
        <hr>
        {% assign uri = page.url | remove: '.html' | split: '/'  %}
        <a href="{{ 'blog' | relative_url }}/" class="btn btn-icon btn-default{% if uri[1] == 'blog' %} active{% endif %}" title="Blog">
            <i class="fa fa-book"></i>
        </a>
        {% comment %}
        <a href="{{ 'loja' | relative_url }}" class="btn btn-icon btn-default{% if uri[1] == 'produtos' %} active{% endif %}" data-toggle="tooltip" data-placement="bottom" title="Loja">
            <i class="fa fa-shopping-cart"></i>
        </a>
        {% endcomment %}
        <a href="{{ 'servicos' | relative_url }}/" class="btn btn-icon btn-default{% if uri[1] == 'servicos' %} active{% endif %}" title="Serviços">
            <i class="fa fa-gears"></i>
        </a>
        <a href="{{ 'sitemap' | relative_url }}" class="btn btn-icon btn-default{% if uri[1] == 'sitemap' %} active{% endif %}" title="Mapa do Site">
            <i class="fa fa-sitemap"></i>
        </a>
        <button class="btn btn-icon btn-default" title="Pesquisar" data-target="#search-results" id="search-hero">
            <i class="fa fa-search"></i>
        </button>
        <a href="{{ 'contato' | relative_url }}" class="btn btn-icon btn-default{% if uri[1] == 'contato' %} active{% endif %}" title="Contato">
            <i class="fa fa-envelope"></i>
        </a>
        <a href="https://github.com/natanfelles" class="btn btn-icon btn-default" title="GitHub" target="_blank">
            <i class="fa fa-github"></i>
        </a>

    </div>
</div>
