{% capture title %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
{% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
{% capture keywords %}{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}{% endcapture %}
{% capture twitter_site %}{% if page.twitter.site %}{{ page.twitter.site }}{% else %}{{ site.twitter.site }}{% endif %}{% endcapture %}
{% capture twitter_creator %}{% if page.twitter.creator %}{{ page.twitter.creator }}{% else %}{{ site.twitter.creator }}{% endif %}{% endcapture %}
{% capture image %}{% if page.image contains '/' %}{{ page.image | relative_url }}{% elsif page.url contains '/blog/' %}{{ 'assets/img_posts/' | append: page.image | relative_url }}{% elsif page.url contains '/loja/' %}{{ 'assets/img_products/' | append: page.image | relative_url }}{% endif %}{% endcapture %}

<meta name="description" content="{{ description }}">
<meta name="keywords" content="{{ keywords }}">

{% if twitter_site != ''  %}
<meta name="twitter:site" content="{{ twitter_site }}">
{% endif %}

{% if twitter_creator != '' %}
<meta name="twitter:creator" content="{{ twitter_creator }}">
{% endif %}

<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ site.url }}{{ image }}">
<meta name="twitter:url" content="{{ page.url }}"/>
<meta name="twitter:card" content="photo" />

<meta name="og:url" content="{{ page.url }}">
<meta name="og:site_name" content="{{ site.title }}">
<meta name="og:title" content="{{ title }}">
<meta name="og:description" content="{{ description }}">
<meta name="og:image" content="{{ site.url }}{{ image }}">
{% capture og_type %}{% if page.layout == "post" %}article{% else %}website{% endif %}{% endcapture %}
<meta name="og:type" content="{{ og_type }}">

{% if site.google.site-verification  %}
<meta name="google-site-verification" content="{{ site.google.site-verification }}">
{% endif %}

{% if site.google.analytics  %}
<meta name="google-analytics" content="{{ site.google.analytics }}">
{% endif %}

<meta name="google-cse-cx" content="{{ site.google.cse-cx }}">
<meta name="google-api-key" content="{{ site.google.api-key }}">

<link rel="canonical" href="{{ page.url }}">
