<nav class="pagination" role="navigation">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a rel="prev" class="posts newer btn small" href="{{ "/#show" | prepend: site.baseurl }}" title="Previous Page">← Posts Mais Novos</a>
    {% else %}
      <a rel="prev" class="posts newer btn small" href="{{ paginator.previous_page_path | relative_url}}">← Posts Mais Novos</a>
    {% endif %}
  {% endif %}

  <span class="pagination__page-number">Página {{ paginator.page}} de {{ paginator.total_pages}}</span>

  {% if paginator.next_page %}
    <a rel="next" class="posts older btn small" href="{{ paginator.next_page_path | relative_url}}">Posts Mais Antigos →</a>
  {% endif %}
</nav>
