{% capture scripts %}
{% if site.env == 'development' %}
    <script src="{{ 'assets/external/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/external/js/bootstrap.min.js' | relative_url }}"></script>
	
    {% if page.url != '/' %}
        <script type="text/javascript" src="{{ 'assets/external/js/validator.min.js' | relative_url }}"></script>
    	<script type="text/javascript" src="{{ 'assets/external/js/highlightjs/highlight.pack.js' | relative_url }}"></script>
        <script type="text/javascript" src="{{ 'assets/external/js/highlightjs/highlightjs-line-numbers.js' | relative_url }}"></script>
    {% endif %} 
    
    <script src="{{ 'assets/scripts.js' | relative_url }}"></script>
{% else %}
    {% include google-analytics.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
    {% if page.url != '/' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>	
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/1.1.0/highlightjs-line-numbers.min.js"></script>
    {% endif %} 

    <script src="{{ 'assets/scripts.min.js' | relative_url }}"></script>
{% endif %}
{% endcapture %}

{% if site.env == 'development' %}
	{{ scripts }}
{% else %}
	{{ scripts | normalize_whitespace }}
{% endif %}
