/*!
 * @author Natan Felles <natanfelles@gmail.com>
 */
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('./fonts/DejaVuSansMono.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('./fonts/DejaVuSansMono-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
    font-size: 18px;
}

body.dark {
    color: #bbb;
    background-color: #191A1C;
}

.theme-switcher {
    position: fixed;
    top: 82px;
    left: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    z-index: 1020;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dark .theme-switcher {
    border-color: #000;
    background-color: #141516;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.container-fluid {
    max-width: 1400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
    color: #fff;
}

.page-header {
    font-size: 50px;
    border-bottom-color: #ddd;
}

.dark .page-header {
    border-bottom-color: #000;
}

a {
    color: #00a4e2;
}

a:hover {
    color: #f41249;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
}

[data-toggle='lightbox'] img:hover {
    cursor: zoom-in;
}

.dark blockquote {
    border-left-color: #bbb;
}

legend {
    color: #00a4e2;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px dotted #ddd;
}

.dark legend {
    border-bottom-color: #000;
}

.form-control {
    font-size: 16px;
    height: 36px;
}

.dark .form-control {
    color: #fff;
    background-color: #575757;
    border-color: #bbb;
}

.form-control:focus {
    border-color: #00a4e2;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #0000001a, 0 0 8px #00a4e299;
    -moz-box-shadow: inset 0 1px 1px #0000001a, 0 0 8px #00a4e299;
    box-shadow: inset 0 1px 1px #0000001a, 0 0 8px #00a4e299;
}

/*.content {
    background-color: #191A1C;
    border-left: 1px solid #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
}*/

.top-border {
    border-top: 4px solid #00a4e2;
}

footer {
    border-top: 1px solid #ddd;
}

.dark footer {
    border-top-color: #000;
}

.img-responsive {
    width: 100%;
}

.no-resize {
    width: auto;
}

.img-thumbnail {
    border-color: #000;
}

.dark .img-thumbnail {
    border-color: #fff;
}

.img-thumbnail,
.thumbnail {
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 0;
}

.dark .img-thumbnail,
.dark .thumbnail {
    background-color: #141516;
    border-color: #878787;
}

a.thumbnail.active,
a.thumbnail:focus,
a.thumbnail:hover {
    border-color: #00a4e2;
}



.products .thumbnail {
    border-color: #ddd;
}

.dark .products .thumbnail {
    border-color: #000;
}

.products .thumbnail img {
    border-radius: 4px 4px 0 0;
}

.thumbnail .caption {
    color: #bbb;
}

.thumbnail .caption h3 {
    margin: 5px 0 10px 0;
}

.thumbnail .price {
    position: absolute;
    top: 1px;
    right: 16px;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    background: rgba(0, 0, 0, .8);
    padding: 5px 10px;
    border-radius: 0 3px;
}

.thumbnail .price sup {
    font-size: 16px;
    margin-right: 5px;
}

.price-header {
    margin-top: 8px;
}

.cart {
    position: fixed;
    top: 100px;
    right: 90px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    background: #f5f5f5;
    border: 2px solid #ddd;
    color: #333;
    cursor: pointer;
    box-shadow: 0 2px 5px #00000010;
    z-index: 1000;
}

.dark .cart {
    background: #141414;
    border-color: #fff;
    color: #fff;
    box-shadow: 0 2px 5px #00000080;
}

.cart-ok {
    background: #47bf15;
    color: #fff;
}

.embed-responsive {
    border: 1px solid #000;
    margin-bottom: 10px;
}

.logo {
    border: 2px solid #000;
    margin: 20px auto;
}

.dark .logo {
    border-color: #fff;
}

.logo:hover {
    box-shadow: 0 2px 300px rgba(0, 0, 0, .5);
}

.dark .logo:hover {
    box-shadow: 0 2px 300px rgba(255, 255, 255, .5);
}

#hero hr {
    border-top-color: #ddd;
}

.dark #hero hr {
    border-top-color: #373737;
}

.breadcrumb,
.well {
    border: 1px solid #ddd;
}

.dark .breadcrumb,
.dark .well {
    border-color: #000;
    background-color: #141516;
}

.content-inner {
    max-width: 800px;
    margin: 50px auto;
}

.posts-list .list-group-item {
    padding: 20px 0;
}

.posts-list h2 {
    margin-bottom: 20px;
}

.posts-list h2 a {
    color: #000;
}

.dark .posts-list h2 a {
    color: #fff;
}

.posts-list h2 a:hover {
    color: #333;
}

.dark .posts-list h2 a:hover {
    color: #ddd;
}

.tags {
    margin: 15px 0 20px;
}

.tags .btn {
    margin-top: 5px;
}

.content hr {
    border-top: 1px dotted #ddd;
}

.dark .content hr {
    border-top: 1px dotted #000;
}

.content .list-group-item {
    background-color: transparent;
    border: 0;
    border-bottom: 1px dotted #ddd;
}

dark .content .list-group-item {
    border-bottom: 1px dotted #000;
}

.btn {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    background: #fff;
}

.dark .btn {
    background: transparent;
}

.btn-icon {
    padding: 5px;
    min-width: 42px;
    min-height: 42px;
    margin-right: 5px;
    font-size: 21px;
    text-align: center;
}

.icon-lg {
    font-size: 150%;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: normal;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-primary {
    border-color: #00a4e2;
    color: #00a4e2;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    color: #f41249;
    border-color: #f41249;
    background: transparent;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    background: #f5f5f5;
}

.dark .btn-primary:focus,
.dark .btn-primary:active,
.dark .btn-primary:active:focus {
    background: #141516;
}

.dark .btn-default {
    border-color: #bbb;
    color: #bbb;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:focus,
.btn-default:active {
    color: #00a4e2;
    border-color: #00a4e2;
    background: #f5f5f5;
}

.btn-default.active,
.open>.dropdown-toggle.btn-default,
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #f9f9f9;
    border-color: #ddd;
}

.dark .btn-default.active,
.dark .open>.dropdown-toggle.btn-default,
.dark .btn-default.active:hover,
.dark .open>.dropdown-toggle.btn-default:hover {
    color: #bbb;
    background-color: #111;
    border-color: #bbb;
}

.navbar-toggle {
    margin-top: 12px;
}

.navbar-inverse .navbar-toggle {
    border: 1px solid #ddd;
    background-color: #f5f5f5 !important;
}

.dark .navbar-inverse .navbar-toggle {
    border: 1px solid #000;
    background-color: #000 !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333;
}

.dark .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

.btn-success {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.dark .btn-success {
    border-color: #bbb;
    color: #bbb;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:active:focus {
    color: #47bf15;
    border-color: #47bf15;
    background: transparent;
}

.btn-danger {
    border-color: #bbb;
    color: #bbb;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger:active:focus {
    color: #e61414;
    border-color: #e61414;
    background: transparent;
}

.btn-success:focus,
.btn-success:active,
.btn-success:active:focus,
.btn-danger:focus,
.btn-danger:active,
.btn-danger:active:focus {
    background: #f5f5f5;
}

.dark .btn-default:hover,
.dark .btn-default:focus,
.dark .btn-default:active,
.dark .btn-default:active:focus,
.dark .btn-default:active,
.dark .btn-success:focus,
.dark .btn-success:active,
.dark .btn-success:active:focus,
.dark .btn-danger:focus,
.dark .btn-danger:active,
.dark .btn-danger:active:focus {
    background: #141516;
}

.btn-success.disabled:hover,
.btn-primary.disabled:hover,
.btn-danger.disabled:hover {
    color: #ccc;
    background: transparent;
    border-color: #ccc;
}

.dark .btn-success.disabled:hover,
.dark .btn-primary.disabled:hover,
.dark .btn-danger.disabled:hover {
    color: #bbb;
    border-color: #bbb;
}

.tags-cloud a {
    margin: 5px 0;
}

dl.file dt:before,
dl.file-excerpt dt:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0f6";
    margin-right: 5px;
}

dl.file dt,
dl.file-excerpt dt {
    border: 1px solid #000;
    border-radius: 4px 4px 0 0;
    padding: 9.5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #ddd;
    background-color: #111;
}

dl.file dd pre,
dl.file-excerpt dd pre {
    border-top: 0;
    border-radius: 0 0 4px 4px
}

pre {
    padding: 0;
    font-size: 18px;
    border-color: #000;
    /*border-color: #878787;*/
    background-color: #282c34;
    color: #abb2bf;
}

.hljs {
    /* padding: 0; */
    cursor: text;
}

/* .hljs-line {
    padding: 2px 5px 1px 5px;
    min-height: 23px;
} */

/* .hljs-line:hover,
.hljs-line.active {
    background: #2c333d;
    color: #abb2bf;
} */

.hljs-line-numbers {
    background: #21252b;
    border-right: 1px solid #181a1f;
    color: #474f5e;
    text-align: right;
    min-width: 35px;
    cursor: default;
}

code {
    background-color: #000;
    color: #fff;
    font-size: 100%;
}

pre code {
    font-family: "DejaVu Sans Mono", monospace;
    white-space: pre;
}

/* pre code:hover {
    white-space: pre;
} */

.panel-hero {
    border-top: 4px solid #00a4e2;
    position: fixed;
    top: 0;
    left: 0;
}

.main-header {
    display: none;
}

.navbar-brand {
    color: #000 !important;
    float: left;
    padding: 15px 15px 15px 48px;
    font-size: 32px;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    background: url(img/nav-logo.png) 0 9px no-repeat;
    background-size: 40px;
    margin-left: 0 !important;
}

.dark .navbar-brand {
    color: #fff !important;
}

.navbar .container {
    max-width: 800px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
}

.navbar-default {
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-color: #ddd;
    border-top: 1px solid #00a4e2;
    min-height: 60px;
}

.dark .navbar-default {
    background-color: #141414;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-color: #000;
}

.navbar-brand,
.navbar-nav li a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand small {
    color: #000;
    font-size: 16px;
}

.dark .navbar-brand small {
    color: #bbb;
}

.navbar-inverse .navbar-nav > li > a {
    color: #333;
}

.dark .navbar-inverse .navbar-nav > li > a {
    color: #bbb;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #000;
}

.dark .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: #00a4e2;
}

.navbar-fixed-bottom {
    background: rgba(255, 255, 255, .8);
    border-top-color: #ddd;
    padding: 18px 0;
    font-size: 14px;
    text-align: center;
}

.dark .navbar-fixed-bottom {
    background: rgba(0, 0, 0, .8);
    border-top-color: #000;
}

/* Google Translate */
.goog-te-banner-frame {
    left: 0 !important;
    top: auto !important;
    bottom: 0 !important;
    height: 39px !important;
    width: 100% !important;
    z-index: 10000001 !important;
    position: fixed !important;
    border: none !important;
    border-bottom: 0 !important;
    margin: 0 !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none!important;
    box-shadow: none !important;
    position: fixed !important;
    display: none !important;
}

#google_translate {
    display: inline-block;
}

.goog-te-gadget-simple {
    background-color: transparent !important;
    border-left: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
    font-size: 14px !important;
    display: inline-block;
    padding-top: 1px;
    padding-bottom: 2px;
    cursor: pointer;
    zoom: 1;
    *display: inline;
}

.goog-te-gadget-simple img {
    display: none;
}

.goog-te-menu2-item,
.goog-te-menu-value span {
    color: #00a4e2 !important;
    border: 0 !important;
}

.goog-te-menu2-item:hover div {
    color: #fff;
    background: #00a4e2 !important;
}

.goog-te-menu-frame {
    -moz-box-shadow: 0 5px 15px #00000080 !important;
    -webkit-box-shadow: 0 5px 15px #00000080 !important;
    box-shadow: 0 5px 15px #00000080 !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    color: #4B8DF9 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

#hero {
    position: fixed;
    top: 4px;
    background: #f9f9f9;
    font-weight: 100;
    color: #333;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: solid #ddd;
    border-width: 0 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dark #hero {
    background: #141414;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    border: solid #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#hero img {
    width: 100px;
}

#hero h1 {
    margin: 0 0 5px 0;
    font-size: 2.5em;
    letter-spacing: 4px;
    color: #000;
}

.dark #hero h1 {
    color: #fff;
}

#hero p {
    font-family: "Open Sans", sans-serif;
}

.pagination>li>a,
.pagination>li>span {
    color: #00a4e2;
}

.dark .pagination>li>a,
.dark .pagination>li>span {
    background-color: #141516;
    border-color: #000;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.dark .pagination>.active>a,
.dark .pagination>.active>a:focus,
.dark .pagination>.active>a:hover,
.dark .pagination>.active>span,
.dark .pagination>.active>span:focus,
.dark .pagination>.active>span:hover {
    background-color: #00a4e2;
    border-color: #00a4e2;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #fff;
    background-color: #f41249;
    border-color: #f41249;
}

#comments {
    margin: 20px 0;
}

#toTop {
    margin-top: 20px;
}

footer {
    margin: 20px 0;
    padding: 20px 0 0;
    font-size: 80%;
}

 .loader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    background: #fff;
    text-align: center;
    padding-top: 25%;
}

.dark .loader {
    background: #141414;
}

.services .thumbnail {
    border-color: #00a4e2;
}

.services .thumbnail:hover {
    background: #ddd;
    border-color: #f41249;
    transition: .5s;
}

.dark .services .thumbnail:hover {
    background: #111;
    border-color: #f41249;
}

.services .thumbnail {
    font-size: 36px;
    padding: 20px
}

.services .thumbnail i {
    display: block;
    font-size: 64px;
    margin-bottom: 15px;
}

.tooltip {
    font-size: 14px;
}

.tooltip-inner {
    border: 1px solid #f41249;
    background-color: #fff;
    color: #333;
    padding: 10px;
}

.dark .tooltip-inner {
    background-color: #000;
    color: #fff;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #f41249;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #f41249;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #f41249;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #f41249;
}

.popover {
    border: 1px solid #ddd;
    background-color: #fff;
}

.dark .popover {
    border-color: #000;
    background-color: #191A1C;
}

.popover-title {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.dark .popover-title {
    background-color: #141516;
    border-bottom-color: #000;
}

.popover.top>.arrow::after {
    border-top-color: #ddd;
}

.dark .popover.top>.arrow::after {
    border-top-color: #000;
}

.modal.in .modal-dialog {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.dark .modal.in .modal-dialog {
    border-color: #000;
}

.ekko-lightbox.modal.in .modal-dialog {
    border-color: #bbb;
}

.panel,
.modal-content {
    background-color: #f9f9f9;
}

.dark .panel,
.dark .modal-content {
    background-color: #141516;
}

.panel-default {
    border-color: #ddd;
}

.dark .panel-default {
    border-color: #000;
}

.panel-default>.panel-heading,
.modal-header,
.modal-footer {
    color: #000;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.dark .panel-default>.panel-heading,
.dark .modal-header,
.dark .modal-footer {
    color: #fff;
    background-color: #111;
    border-color: #000;
}

.modal-backdrop {
    background-color: #fff;
    opacity: 1;
}

.dark .modal-backdrop {
    background-color: #333;
}

.fade.in {
    background: #fff;
}

.dark .fade.in {
    background: #191A1C;
}

.close {
    color: #333;
    text-shadow: 0 1px 0 #f5f5f5;
    opacity: .6;
}

.dark .close {
    color: #bbb;
    text-shadow: 0 1px 0 #000;
}

.close:hover {
    color: #000;
    opacity: .9;
}

.dark .close:hover {
    color: #fff;
}

.ekko-lightbox .modal-body,
#cp-images .modal-body {
    padding: 0;
}

.ekko-lightbox img {
    border-radius: 4px;
}

.carousel-caption,
.carousel-caption h3 {
    color: #141516;
    text-shadow: 0 2px 2px #fff;
}

.carousel-caption h3 {
    color: #00a4e2;
    font-weight: 500;
}

.carousel-indicators li {
    background-color: #141516;
    border: 1px solid #000;
    box-shadow: 0 2px 2px #fff;
}

.carousel-indicators .active {
    background-color: #00a4e2;
}

.input-group-btn {
    font-size: inherit;
    /*padding: inherit;*/
}

.alert-danger {
    color: #360605;
    background-color: #e61414;
    border-color: #4b121b;
}

.alert-info {
    color: #002f47;
    background-color: #0671a7;
    border-color: #085969;
}

.alert-success {
    color: #053306;
    background-color: #47bf15;
    border-color: #264d05;
}

.alert-warning {
    color: #4a340e;
    background-color: #f9d100;
    border-color: #d2a23e;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
    color: #e61414;
}

.has-error .form-control,
.has-error .form-control:focus {
    border-color: #e61414;
    -webkit-box-shadow: inset 0 1px 1px #0000001a, 0 0 8px #e6141499;
    -moz-box-shadow: inset 0 1px 1px #0000001a, 0 0 8px #e6141499;
    box-shadow: inset 0 1px 1px #0000001a, 0 0 8px #e6141499;
}

.input-group-btn .btn {
    padding: 6px 12px;
    color: #fff;
    background: #00a4e2;
    border-color: #00a4e2;
}

a.list-group-item {
    color: #bbb;
}

.dark .list-group-item {
    background-color: #191a1c;
    border-color: #000;
}

.dark a.list-group-item:focus,
.dark a.list-group-item:hover,
.dark button.list-group-item:focus,
.dark button.list-group-item:hover {
    color: #fff;
    background-color: #101010;
}

a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
    color: #00a4e2;
    font-weight: normal;
}

.modal-title {
    font-weight: normal;
}

.header-link {
    font-size: .8em;
    position: relative;
    left: 5px;
    -webkit-transition: opacity .2s ease-in-out .1s;
    -moz-transition: opacity .2s ease-in-out .1s;
    -o-transition: opacity .2s ease-in-out .1s;
    transition: opacity .2s ease-in-out .1s;
    opacity: 0;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
    opacity: 1;
}

.dark .table>tbody>tr>td,
.dark .table>tbody>tr>th,
.dark .table>tfoot>tr>td,
.dark .table>tfoot>tr>th,
.dark .table>thead>tr>td,
.dark .table>thead>tr>th,
.dark .table-bordered {
    border-color: #000;
}

.dark .table-striped>tbody>tr:nth-of-type(2n+1) {
    background-color: #141516;
}

.dark .table-hover>tbody>tr:hover {
    background-color: #111;
}

.breadcrumb {
    font-size: 15px;
}

@media (max-width: 767px) {
    body,
    pre {
        font-size: 14px;
    }
    .navbar-brand {
        padding-top: 20px !important;
    }
    .navbar-header {
        margin: 0 5px !important;
        min-height: 60px;
    }
    .navbar .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .cart {
        right: 50px;
    }
    #hero img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 640px) {
    .navbar .container {
        padding-right: 10px;
        padding-left: 25px;
    }
    .theme-switcher {
        left: 25px;
    }

    footer {
        text-align: center;
    }
}
