---
layout: content
title: Loja
description: Adquira produtos virtuais que podem lhe ajudar no desenvolvimento e personalização da sua marca.
---
<div class="products" id="shop">
	<h1 class="page-header">{{ page.title }}</h1>

	<p>Para serviços personalizados veja a página <a href="{{ 'servicos' | relative_url}}">Serviços</a>.</p>	
	
	<div class="well well-sm text-right">
		<div class="form-inline">
			<div class="form-group">
				<label for="sort">Ordenar por</label>
				<select name="sort" id="sort" class="form-control" onchange="setProducts(this.value)">
					<option value="Name">Nome</option>
					<option value="LowPrice">Menor Preço</option>
					<option value="HighPrice">Maior Preço</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row" id="products">

		{% for product in site.data.products %}

			<div class="col-md-6">
				<div class="thumbnail"> 
					<span class="price"><sup>U$</sup>{{ product.price }}</span>
					<img src="{{ 'assets/img_products/' | append: product.image | relative_url }}" alt="{{ product.name }}">
					<div class="caption text-center">
						<h3>{{ product.name }}</h3>
						<p>{{ product.description }}</p>						
						<div class="btn-group btn-group-justified">
							<a href="#" class="btn btn-success to-cart" data-id="{{ product.id }}" data-price="{{ product.price }}" data-name="{{ product.name }}">Adicionar</a>
							<a href="{{ 'loja/' | append: product.link | relative_url }}" class="btn btn-default">Saber Mais</a>
						</div>
					</div>
				</div>
			</div>

		{% endfor %}		

	</div>
	
	
</div>

{% include cart.html %}
