---
layout: default
---
<h2>Categorias:</h2>

<div class="categories">
{% for category in site.categories  %}
  <a href="#{{ category[0] }}">{{  category[0] }}</a>
{% endfor %}
</div>

{% for category in site.categories %}
  <div id="{{ category[0] }}">
    <h3> {{ category[0] }} </h3>
    <ul>
      {% for post in site.posts %}
        {% if post.categories contains category[0] %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endfor %}
