<!DOCTYPE html>

<!-- ································································································
      _   _       _                _____    _ _
     | \ | | __ _| |_ __ _ _ __   |  ___|__| | | ___  ___
     |  \| |/ _` | __/ _` | '_ \  | |_ / _ \ | |/ _ \/ __|
     | |\  | (_| | || (_| | | | | |  _|  __/ | |  __/\__ \
     |_| \_|\__,_|\__\__,_|_| |_| |_|  \___|_|_|\___||___/

     natanfelles.github.io

     I am a dreamer. Sysadmin from myself. A bot of God.

     Press Ctrl + w

································································································· -->

<html lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}">
{% include head.html %}
<body>
<div class="loader"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>

{{content}}

{% include search.html %}

{% include scripts.html %}

<!-- We Have Dreamed The Same Dream - God With Us -->

</body>
</html>
