---
layout: content
---
{% capture cap_top %}

<article>
<header>
<h1>{{ page.title }}</h1>

<div class="well well-sm text-capitalize small">
	<a href="{{ 'blog' | relative_url }}/">Blog</a>
	{% for category in page.categories %}
		· <a href="{{ 'blog/categorias#' | append: category | relative_url }}">{{ category }}</a>
	{% endfor %}
	<time class="pull-right" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d.%m.%Y" }}</time>
</div>

</header>

<div id="post">
	<p>
		<a href="{{ 'assets/img_posts/' | append: page.image | relative_url }}" data-toggle="lightbox">
			<img src="{{ 'assets/img_posts/' | append: page.image | relative_url }}" alt="{{ page.title }}"/>
		</a>
	</p>

{% endcapture %}
{% if site.env == 'development' %}
	{{ cap_top }}
{% else %}
	{{ cap_top | normalize_whitespace }}
{% endif %}

{{ content }}

{% capture cap_bottom %}
</div>

{% include donation.html %}

{% if page.tags[0] %}
	<footer class="tags">
		{% for tag in page.tags %}
		    <a class="btn btn-sm btn-primary" href="{{ 'blog/tags#' | append: tag | relative_url }}">{{ tag }}</a>
		{% endfor %}
	</footer>
{% endif %}
</article>

<div class="well">
	<a class="btn btn-icon btn-primary" href="https://twitter.com/share?text={{ page.title }}&url={{ site.url }}{{ page.url  }}" target="_blank">
    	<i class="fa fa-twitter"></i>
    </a>
    <a class="btn btn-icon btn-primary" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url  }}" target="_blank">
    	<i class="fa fa-facebook"></i>
    </a>
    <a class="btn btn-icon btn-primary" href="https://plus.google.com/share?url={{ site.url }}{{ page.url  }}" target="_blank">
    	<i class="fa fa-google-plus"></i>
    </a>
	<a class="btn btn-primary pull-right btn-edit" href="{{ site.edit_url }}/{{ page.path }}" target="_blank" title="Editar">
			<i class="fa fa-github icon-lg"></i>
			Edite essa página no GitHub
	</a>
</div>

<div class="text-center prev_next">
	<div class="btn-group btn-group-justified" role="group">
		{% if page.next.url contains '/index' %}
		{% elsif page.next.url != null %}
			<a href="{{ page.next.url }} " class="btn btn-primary">
				<i class="fa fa-arrow-left"></i> Próximo
			</a>
		{% endif %}
		{% if page.previous.url contains '/index' %}
		{% elsif page.previous.url != null %}
			<a href="{{ page.previous.url }} " class="btn btn-primary">
				Anterior <i class="fa fa-arrow-right"></i>
			</a>
		{% endif %}
	</div>
</div>

{% if page.comments != false %}
	<div id="comments"></div>
{% endif %}

{% endcapture %}
{% if site.env == 'development' %}
	{{ cap_bottom }}
{% else %}
	{{ cap_bottom | normalize_whitespace }}
{% endif %}
