---
layout: default
---
<h2>Tags:</h2>

<div class="tags">
  {% for tag in site.tags  %}
    <a href="#{{ tag[0] }}">{{  tag[0] }}</a>
  {% endfor %}
</div>

{% for tag in site.tags %}
  <div id="{{ tag[0] }}">
    <h3> {{ tag[0] }} </h3>
    <ul>
      {% for post in site.posts %}
        {% if post.tags contains tag[0] %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endfor %}
